@import "../../vars.css";
.header {
  display: flex;
  justify-content: space-between;
  padding: 2.4em 7.075em 0 7.075em;
  background-color: var(--mainBg);
  border-radius: 0.75em 0.75em 0 0;
}
.logoWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.logoWrapper:hover,
.logoWrapper:focus {
  scale: 1.02;
}
.logo {
  width: 3.55em;
  fill: var(--gold);
  margin-right: 0.8em;
}
.subLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fairspin,
.vip {
  width: 6.41em;
  fill: var(--white);
}
@media screen and (max-width: 376px) {
  .header {
    padding: 1.7em;
    font-size: 3.7em;
  }
}
