.swiperBtns {
  position: absolute;
  top: -14em;
  right: 0em;
  display: flex;
  align-items: center;
  margin: 0;
}
.buttons {
  /* position: absolute; */
  /* top: 0; */
  display: flex;
  margin-left: 24em;
}
.btnNext,
.btnPrev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9.58em;
  height: 9.58em;
  border-radius: 1em;
  background-color: var(--thirdBg);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btnPrev {
  margin-right: 5.1em;
}
.btnNext:hover,
.btnNext:focus,
.btnPrev:hover,
.btnPrev:focus {
  background-color: var(--gold);
}
.arrowNext,
.arrowPrev {
  width: 2em;
}
.arrowNext {
  transform: rotate(180deg);
}
.titleContainer {
  display: flex;
  align-items: center;
}
.image {
  width: 7.68em;
}
.title {
  margin-left: 0.4em;
  font-size: 4.48em;
  line-height: 141%;
  color: var(--white);
}
