body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  box-sizing: border-box;
  font-size: 0.833vw;
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 400;
  height: 100%;
  background-color: var(--black);
  color: var(--textColor);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Stolzl";
  text-decoration: none;
  list-style: none;
}
img,
video {
  max-width: 100%;
  height: auto;
}
::-webkit-scrollbar {
  width: 0.2em;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--gold);
  border-radius: 0.2em;
  transition: all 2s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary);
  transition: all 2s ease-in-out;
}
@font-face {
  font-family: "Stolzl";
  font-weight: 700;
  src: local("Stolzl"), url(./fonts/Bold.otf);
}
@font-face {
  font-family: "Stolzl";
  font-weight: 400;
  src: local("Stolzl"), url(./fonts/Regular.otf);
}
@font-face {
  font-family: "Stolzl";
  font-weight: 100;
  src: local("Stolzl"), url(./fonts/Thin.otf);
}
/* @media (orientation: landscape) and (min-aspect-ratio: 1920 / 853) {
  html {
    font-size: 0.65vw;
  }
}
@media (orientation: landscape) and (min-aspect-ratio: 15 / 7) {
  html {
    font-size: 0.67vw;
  }
}
@media (orientation: landscape) and (min-aspect-ratio: 640 / 311) {
  html {
    font-size: 0.7vw;
  }
}
@media (orientation: landscape) and (min-aspect-ratio: 80 / 41) {
  html {
    font-size: 0.73vw;
  }
}
@media (orientation: landscape) and (min-aspect-ratio: 1920 / 1007) {
  html {
    font-size: 0.76vw;
  }
}
@media (orientation: landscape) and (min-aspect-ratio: 384 / 209) {
  html {
    font-size: 0.8vw;
  }
} */
