.section {
  text-align: center;
  margin-top: 2.4em;
  padding: 5.14em 0;
  border-radius: 0.75em;
  background-color: var(--secondBg);
}

.title {
  font-size: 2.345em;
  font-weight: 100;
  line-height: 120%;
  color: var(--white);
}
.title span {
  font-weight: 700;
}
.gold {
  color: var(--gold);
}
.subTitle {
  margin-top: 1.14em;
  font-size: 0.94em;
}
.list,
.mobList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  padding: 3.9em 7em 0 7em;
}
.mobList,
.sliderList {
  display: none;
}
@media screen and (max-width: 376px) {
  .section {
    background-color: transparent;
    margin: 0 5em;
  }
  .list {
    display: none;
  }
  .mobList,
  .sliderList {
    display: flex;
    position: relative;
    /* flex-direction: column; */
  }
  .title {
    font-size: 8.3em;
  }
  .subTitle {
    font-size: 4.5em;
    margin-bottom: 6em;
    padding: 0 3em;
  }
}
